nav .top{
    background-color: #fffdd0;

}

nav .img{
    width: 120px;
    height: 120px;
}

.buscar{
    justify-content: center;
    align-items: center;
}

.titulo{
    text-align: center;
}



#502b1b
#fffdd0
#ffpd59
#c06138
